* {
    box-sizing: border-box;
}
h1,
h2,
h3,
h4 {
    margin: 0px;
}
ul,
li {
    list-style-type:none;
    margin: 0px;
    padding: 0px;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0px auto;
    padding: 0px;
    max-width: 1300px;
}
header {
    position: relative;
    width: 100%;
    background:#9fcc38;
    border-radius: 0px 0px 0px 220px;
    z-index: 5;
}
.header-background {
    position: absolute;
    right: -2px;
    top: -150px;
    width: 75%;
    height: 200px;
    background: rgb(255, 255, 255);
    border-radius: 0px 0px 0px 220px;
}
.content {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 50px;
    margin-left: 120px;
}
.photo {
    width: 260px;
    text-align: center;
}
.main-photo {
    object-fit: cover;
    object-position: 50% 40%;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 50%;
}
.header-title {
    width: fit-content;
    color: #fcfdf5;
    padding-left: 160px;
    padding-right: 10px;
    margin-top: 80px;
}
.main-title {
    font-size: 60px;
    font-weight: 900;
    line-height:55px;
}
.name {
    font-size: 50px;
    font-weight:lighter;
    font-weight: 400;
    font-family: sans-serif;
    color: #def1af;
}
.main-description {
    margin-top: 10px;
    color: #def1af;
    font-size: 40px;
}
.main-description::before {
    content: "";
    position: absolute;
    border-top: 5px solid white;
    height: 0;
    width: 370px;
    top: calc(60% + 30px);
    left: 540px;
}
.switch {
    margin-left: 300px;
    margin-top: 70px;
    font-size: 24px;
    color: #fff;
    writing-mode: vertical-lr;
    padding-right: 10px;
    cursor: pointer;
}
@media (max-width: 1000px) {
    header {
        border-radius: 0px 170px 0px 0px;
    }
    .header-background {
        display: none;
    }
    .main-photo {
        
    }
    .content {
        flex-direction: column;
        margin: 0px;
        padding: 10px;
    }
    .header-title {
        width: 100%;
        padding: 0px;
        margin: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main-title {
        padding-top: 15px;
        font-size: 11vw;
        font-weight: 900;
        line-height:10vw;
    }
    .name {
        width: 100%;
        font-size: 8vw;
        font-weight: 400;
        display: block;
        text-align: center;
    }
    .main-description {
        margin: 0px;
        color: #def1af;
        font-size: 8vw;
        
    }
    .main-description::before {
        content: "";
        position: relative;
        border-top: 5px solid white;
        height: 0;
        width: 70%;
        top: calc(75% + 30px);
        left: 40px;
    }
}
            /* ///////////////////PAGE///////////////////// */
.page {
    width: 100%;
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
}
aside {
    position: relative;
    padding: 170px 50px 50px 100px;
    background: #111315;
    margin-top: -100px;
}
.aside-background {
    position: absolute;
    top: -280px;
    left: -20px;
    width: 105%;
    height: 430px;
    background: rgb(255, 255, 255);
    border-radius: 0px 0px 0px 220px;
    z-index: 2;
}
.aside-list {
    color: #fff;
}
.aside-title{
    width: fit-content;
    margin-top: 30px;
    font-size: 24px;
}
.aside-element {
    width: fit-content;
}
.contact-element {
    margin-top: 7px;
}
.contact-element :hover {
    scale: 1.2;
}
.contact-element .social-item:hover{
    scale: 1,5;
    color:#9fcc38;
}
.social-item {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}
.socimg {
    position: relative;
    top:5px;
    margin-right: 7px;
}
.contact-element:nth-child(5) a .socimg {
    top:2px;
}
.contact-element:nth-child(3) a .socimg {
    top:5px;
    left: 2px;
    margin-right: 10px;
    height: 24px;
}
.skills-list {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 30px;
    margin-top: 10px;
    font-size: 16px;
}
.language-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}
@media (max-width: 1000px) {
    .page {
        flex-direction: column;
        padding-top: 50px;
    }
    aside {
        width: 100%;
        padding: 0px 20px 20px 20px;
        background: #111315;
        margin-top: 0px;
    }
    .aside-background {
        display: none;
    }
    .aside-list {
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .aside-title{
        width: fit-content;
        margin: 0px auto;
        font-size: 7vw;
        margin-top: 10px;
    }
    .skills-list {
        width: 250px;
        display: flex;
        justify-content: center;
    }
    .language-list {
        align-items: center;
    }
}

                                    /* Work */

.wraper {
    position: relative;
    padding: 100px 50px 50px 100px;;
    line-height: 22.4px;
}
.about {
    font-size: 24px;
}
.about > p {
    text-indent:30px;
    font-size: 16px;
    margin-top: 5px;
}
.work-list {
    position: relative;
    margin-top: 30px;
}
.work-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.work-name {
    position: relative;
    font-size: 24px;
}
.work-name::before {
    content: "";
    background-image: url(assets/circle.svg);
    position: absolute;
    top: -2px;
    left: -30px;
    width: 24px;
    height: 24px;
}
.college::before {
    background-image: url(assets/school.svg);
    top:-1px;
}
.work-element {
    position: relative;
}
.work-element::before{
    content: "";
    position: absolute;
    top: 20px;
    left: -19px;
    width: 5px;
    height: calc(100% - 2px);
    border-left: 3px solid rgb(5, 5, 5);
}
.work-time {
    font-size: 16px;
    color:#a9a9a9
    
}
.work-description {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding-left: 30px;
}
.link {
    width: fit-content;
    padding: 2px;
    text-decoration: none;
}
 .clothes-shop {
    display: none;
    position: absolute;
    top: 0px;
    left: 180px;
    object-fit:contain;
    border: solid 3px black;
    z-index: 5;
    width: 600px;
} 
.resume {
    display: none;
    position: absolute;
    top: 0px;
    left: 180px;
    object-fit:contain;
    border: solid 3px black;
    z-index: 5;
    width: 600px;
}
.coffee-shop {
    display: none;
    position: absolute;
    top: 0px;
    left: 180px;
    object-fit:contain;
    border: solid 3px black;
    z-index: 5;
    width: 600px;
}
.link:hover + .clothes-shop {
    display: block;
}
.link:hover + .resume  {
    display: block;
}
.link:hover + .coffee-shop {
    display: block;
}
@media (max-width: 1000px) {
    .wraper {
        position: relative;
        padding: 40px 40px 40px 40px;;
        line-height: 22.4px;
    }
    .about {
        width: 110%;
        margin-left: -24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .about > p {
        text-indent:0px;
        font-size: 16px;
        margin-top: 10px;
    }
    .work-list {
        position: relative;
        margin-top: 30px;
    }
    .work-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0px;
    }
    .work-name {
        position: relative;
        font-size: 24px;
    }
    .work-name::before {
        content: "";
        background-image: url(assets/circle.svg);
        position: absolute;
        top: -2px;
        left: -30px;
        width: 24px;
        height: 24px;
    }
    .college::before {
        background-image: url(assets/school.svg);
        top:-1px;
    }
    .work-element {
        position: relative;
    }
    .work-element::before{
        content: "";
        position: absolute;
        top: 20px;
        left: -19px;
        width: 5px;
        height: calc(100% - 2px);
        border-left: 3px solid rgb(5, 5, 5);
    }
    .work-time {
        width: fit-content;
    }
    .link:hover + .clothes-shop {
        display: none;
    }
    .link:hover + .resume  {
        display: none;
    }
    .link:hover + .coffee-shop {
        display: none;
    }
}